<header>
    <nav id="menu-nav" class="navbar navbar-expand-xl navbar-light navbar-dark bg-light-1">
        <div class="container-fluid">                
            <a class="navbar-brand" href="/home">
                <img class= "logo" src="/assets/img/LOGO/Logo_azul_redimensionado.png" alt="Logo do site Game Mania">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 baixar-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Departamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Hardware</a></li>
                      <li><a class="dropdown-item" href="#">Periféricos</a></li>
                      <li><a class="dropdown-item" href="#">Cadeiras</a></li>
                      <li><a class="dropdown-item" href="#">Games</a></li>
                      <li><a class="dropdown-item" href="#">Computadores</a></li>
                      <li><a class="dropdown-item" href="#">Celular e Smartphones</a></li>
                      <li><a class="dropdown-item" href="#">TV</a></li>
                      <li><a class="dropdown-item" href="#">Câmeras</a></li>
                      <li><a class="dropdown-item" href="#">Tablets</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Todas as Lojas</a></li>
                    </ul>
                  </li>                      
              <li class="nav-item">
                <a class="nav-link" href="#">Lançamentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Destaques</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PC Gamer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Eletrônicos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Seja Premium</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cartão Mania</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Baixe o App</a>
              </li> 
            </ul>
            <div class="search-box">
                <input type="text" class="search-text" placeholder="Pesquisar...">
                <a href="#" class="search-btn">
                    <img class="loupe-blue" src="/assets/img/BARRA_PESQUISA/loupe-blue.svg" alt="" width="25px" height="25px">
                    <img class="loupe-white" src="/assets/img/BARRA_PESQUISA/loupe-white.svg" alt="" width="25px" height="25px">
                </a>
            </div>
            <div class="search-box-login">
                <a routerLink="/login" class="search-btn">
                    <img src="/assets/img/LOGIN/account.png" alt="">
                    <img class="loupe-white" src="/assets/img/LOGIN/account_white.png" alt="">
                </a>
            </div>
          </div>
        </div>
      </nav>
</header>