<app-header></app-header>

<main>
    
<section>
    <div id="carouselExampleControls" class="carousel slide margem-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/BANNER/Banner_1.png" class="bannerx d-block w-90" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/BANNER/Banner_2.png" class="bannerx d-block w-90" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/BANNER/Banner_3.png" class="bannerx d-block w-90" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<section>
    <div class="barra-secao">
        <h1 class="h1-secao">Mais Procurados</h1>
    </div>

    <div class="container">
        <div class="procurados-promocoes1">
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>7% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/console.jpg" alt="ConsoleXbox Series S500gb Ssd">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Console Xbox Series S500gb Ssd</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 2.499,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            7% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>7% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/notebook.jpg" alt="Notebook Gamer Acer Nitro 5 Intel Core i5-10300H 8GB">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Notebook Gamer Acer Nitro 5 Intel Core i5-10300H 8GB</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 5.199,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            7% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>10% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/iphone.jpg" alt="Iphone 12 Apples 128GB iOS 5G Wi-Fi Tela 6.1” - Preto">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Iphone 12 Apples 128GB iOS 5G Wi-Fi Tela 6.1” - Preto</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 5.019,10
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            10% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>1% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/tv.jpg" alt="Smart TV LG 50” 4K UHD Wi-Fi Bluetooth HDR 2 USB 3 HDMI ...">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Smart TV LG 50” 4K UHD Wi-Fi Bluetooth HDR 2 USB 3 ...</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 2.649,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            1% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>7% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/console.jpg" alt="ConsoleXbox Series S500gb Ssd">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Console Xbox Series S500gb Ssd</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 2.499,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            7% off à vista
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="barra-secao">
        <h1 class="h1-secao">Promoções</h1>
    </div>

    <div class="container">
        <div class="procurados-promocoes1">
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>7% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/console.jpg" alt="ConsoleXbox Series S500gb Ssd">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Console Xbox Series S500gb Ssd</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 2.499,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            7% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>7% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/notebook.jpg" alt="Notebook Gamer Acer Nitro 5 Intel Core i5-10300H 8GB">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Notebook Gamer Acer Nitro 5 Intel Core i5-10300H 8GB</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 5.199,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            7% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>10% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/iphone.jpg" alt="Iphone 12 Apples 128GB iOS 5G Wi-Fi Tela 6.1” - Preto">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Iphone 12 Apples 128GB iOS 5G Wi-Fi Tela 6.1” - Preto</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 5.019,10
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            10% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>1% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/tv.jpg" alt="Smart TV LG 50” 4K UHD Wi-Fi Bluetooth HDR 2 USB 3 HDMI ...">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Smart TV LG 50” 4K UHD Wi-Fi Bluetooth HDR 2 USB 3 ...</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 2.649,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            1% off à vista
                        </div>
                    </div>
                </div>
            </a>
            <a class="procurados-promocoes2" href="">
                <div class="span-procurados-promocoes3">
                    <span>7% off à vista</span>
                </div>
                <div class="procurados-promocoes4">
                    <div>
                        <img class="banner4" src="/assets/img/PROCURADOS_PROMOCOES/console.jpg" alt="ConsoleXbox Series S500gb Ssd">
                    </div>
                    <div class="titulo">
                        <div class="titulo2">
                        </div>
                        <p>Console Xbox Series S500gb Ssd</p>
                    </div>
                    <div class="estrelas">
                        <div class="estrelas2">
                            <div>
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                                <img height="18" viewBox="0 0 50 50" width="18" src="/assets/img/PROCURADOS_PROMOCOES/Estrela.png" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div class="valor">
                        <div>
                            R$ 2.499,99
                        </div>
                    </div>
                    <div class="desconto">
                        <div>
                            7% off à vista
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="barra-secao-2">
        <h1 class="h1-secao"></h1>
    </div>

    <div class="container">
        <div class="ofertas1">
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5" src="/assets/img/OFERTAS/Ofertas Semana do Consumidor 14 a 20 de Março - Cartaz.jpg" alt="Ofertas Semana do Consumidor 14 a 20 de Março">
                </div>
            </a>
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5" src="/assets/img/OFERTAS/Live Games Cartaz.jpg" alt="Festival Gamer">
                </div>
            </a>
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5_1" src="/assets/img/OFERTAS/Story Diamante de Games - Start Neon Nova Ediçãode Lives em breve.jpg" alt="Clubinho dos Gamers">
                </div>
            </a>
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5" src="/assets/img/OFERTAS/Promoção de Viagem é o Universo - Mensagem - Cartaz.jpg" alt="Promoção de Viagem é o Universo">
                </div>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="barra-secao-3">
        <h1 class="h1-secao">Departamentos</h1>
    </div>

    <div class="container">
        <div class="departamentos1">
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Hardware.jpg" alt="Hardware">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Perifericos.jpg" alt="Perifericos">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Cadeiras.jpg" alt="Cadeiras">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Games.jpg" alt="Games">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Computadores.jpg" alt="Computadores">
                    </div>
                </div>
            </a>            
        </div>
    </div>

    <div class="container">
        <div class="departamentos1">
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Celular_e_Smartphones.jpg" alt="Celular e Smartphones">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/TV.jpg" alt="TV">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Cameras.jpg" alt="Cameras">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Tablets.jpg" alt="Tablets">
                    </div>
                </div>
            </a>
            <a class="departamentos2" href="">
                <div class="departamentos3">
                    <div>
                        <img class="banner7" src="/assets/img/DEPARTAMENTOS/Computadores.jpg" alt="Computadores">
                    </div>
                </div>
            </a>            
        </div>
    </div>
</section>

<section>
    <div class="barra-secao-4">
        <h1 class="h1-secao"></h1>
    </div>

    <div class="container">
        <div class="banner-cadeira1">
            <a class="banner-cadeira2" href="">
                <div class="banner-cadeira3">
                    <div>
                        <img class="banner8" src="/assets/img/BANNER/Cadeira gamer promoção melhor preço -Banner para mercado shops grande.png" alt="Cadeiras Gamers">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="barra-secao-2">
        <h1 class="h1-secao"></h1>
    </div>

    <div class="container">
        <div class="ofertas1">
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5" src="/assets/img/OFERTAS/Ofertas Semana do Consumidor 14 a 20 de Março - Cartaz.jpg" alt="Ofertas Semana do Consumidor 14 a 20 de Março">
                </div>
            </a>
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5" src="/assets/img/OFERTAS/Live Games Cartaz.jpg" alt="Festival Gamer">
                </div>
            </a>
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5_1" src="/assets/img/OFERTAS/Story Diamante de Games - Start Neon Nova Ediçãode Lives em breve.jpg" alt="Clubinho dos Gamers">
                </div>
            </a>
            <a class="ofertas2" href="">
                <div class="ofertas3">
                    <img class="banner5" src="/assets/img/OFERTAS/Promoção de Viagem é o Universo - Mensagem - Cartaz.jpg" alt="Promoção de Viagem é o Universo">
                </div>
            </a>
        </div>
    </div>
</section>
</main>

<app-footer></app-footer>