<app-header></app-header>

<main>
    <div class="container container-grid-login">

        <div class="row-1">
            <div class="grid-5">
                <div class="page-header-1">
                    <h1>Já sou cliente</h1>                        
                </div>
                
                <form (ngSubmit)="receberDados()">
                    <div class="grupo-formularios">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="controle-formulario-1" placeholder="E-mail" [(ngModel)]="userModel.email"><br /><br />
                    </div>

                    <br />

                    <div class="grupo-formularios">
                        <label for="senha">Senha</label>
                        <input type="password" name="password" id="senha" class="controle-formulario-1" placeholder="Informe sua senha"[(ngModel)]="userModel.password">
                    </div>

                    <br />

                    <button type="submit" id="botao-enviar" class="botao botao-azul">Acessar conta</button>
                </form>

                <p id="mensagem" *ngIf=" mensagem != '' ">{{ mensagem }}</p>
                
            </div>
            
            <div class = "linha-vertical"></div>
            
            <div class="grid-5">
                <div class="page-header-1">
                    <h1>Criar conta</h1>
                </div>
                
                <form>

                    <div class="grupo-formularios">                           
                        <input type="email" class="controle-formulario-1" placeholder="Informe seu e-mail"/><br /><br /> 
                    </div>

                    <br />

                    <button type="submit" class="botao botao-azul">Prosseguir</button>

                </form>
            </div> 
        </div>

    </div>
</main>

<app-footer></app-footer>