<footer>
    <div class="rodape1">

        <div class="container">
            <nav class="rodape2">    
                <div class="rodape-cabecalho-1">
                    <div class="rodape-titulo">
                        Departamentos
                    </div>
                    <div class="rodape-departamento-lista">
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Hardware</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Periféricos</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Cadeiras</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Games</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Computadores</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Monitores</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Celular e Smartphones</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">TV</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Câmeras</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Tablets</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Áudio</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Notebook</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Móveis</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Ferramentas</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Placa de Vídeo</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Teclado e Mouse</a>
                    </div>
                </div>
                <div class="rodape-cabecalho-2">
                    <div class="rodape-titulo">
                        Institucional
                    </div>
                    <div class="rodape-departamento-lista">
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Sobre o Game Mania</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Políticas do Site e Marketplace</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Políticas de Privacidade</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Trabalhe Conosco</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Código de Defesa do Consumidor</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Código de Conduta e Ética</a>
                    </div>
                </div>
                <div class="rodape-cabecalho-2">
                    <div class="rodape-titulo">
                        Novidades
                    </div>
                    <div class="rodape-departamento-lista">
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Mega Malo</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Julho Gamer</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">PIX</a>
                        <a href="#" target="_self" class="rodape-departamento-lista-1">Cartão Game Mania</a>
                    </div>
                    <div class="rodape-titulo">
                        Redes Sociais
                    </div>
                    <div class="rodape-departamento-lista-3">
                        <a href="https://www.facebook.com/" target="_blank" aria-label="Link para a página do Game Mania no Facebook" class="rodape-departamento-lista-1">
                            <div>
                                <img height="32" viewBox=" 0 0 32 32" width="32" src="/assets/img/RODAPE/REDES_SOCIAIS/facebook_32.png" alt="Facebook">
                            </div>
                        </a>
                        <a href="https://www.instagram.com" target="_blank" aria-label="Link para a página do Game Mania no Instagram" class="rodape-departamento-lista-1">
                            <div>
                                <img height="32" viewBox=" 0 0 32 32" width="32" src="/assets/img/RODAPE/REDES_SOCIAIS/instagram_32.png" alt="Instagram">
                            </div>
                        </a>
                        <a href="https://www.twitter.com" target="_blank" aria-label="Link para a página do Game Mania no Twitter" class="rodape-departamento-lista-1">
                            <div>
                                <img height="32" viewBox=" 0 0 32 32" width="32" src="/assets/img/RODAPE/REDES_SOCIAIS/twitter_32.png" alt="Twitter">
                            </div>
                        </a>
                        <a href="https://www.youtube.com" target="_blank" aria-label="Link para a página do Game Mania no Youtube" class="rodape-departamento-lista-1">
                            <div>
                                <img height="32" viewBox=" 0 0 32 32" width="32" src="/assets/img/RODAPE/REDES_SOCIAIS/youtube_32.png" alt="Youtuber">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="rodape-cabecalho-2">
                    <div class="rodape-titulo">
                        Atendimento
                    </div>
                    <div class="rodape-departamento-lista">
                        <span class="rodape-atendimento-span-1">
                            Horário de atendimento:
                            <br>
                            08:00 às 20:00 -
                            <br>
                            Segunda a sábado,
                            <br>
                            horário de Brasília
                            <br>
                            (Exceto domingo e feriados)
                        </span>
                        <span class="rodape-atendimento-span-1">
                            Endereço:
                            <br>
                            Rua do Ouvidor, 1321 -
                            <br>
                            9º andar - Centro
                            <br>
                            Rio de Janeiro/RJ - CEP: 20091-060
                        </span>
                    </div>
                    <div class="rodape-titulo">
                        Baixe os apps
                    </div>
                    <div class="rodape-departamento-lista-4">
                        <a href="#" target="_blank" aria-label="Link para a página do Game Mania no Facebook" class="rodape-departamento-lista-1">
                            <div>
                                <img src="/assets/img/RODAPE/APPS/apps_iphone_android.png" alt="App Store e Android">
                            </div>
                        </a>
                    </div>
                </div>                        
            </nav>                
        </div>

    </div>

    <div class="container">
        <div class="cabecalho1">
            <div class="blocos">
                <a href="index.html">
                    <img class= "logo-rodape" src="/assets/img/LOGO/Logo_azul_redimensionado.png" alt="Logo do site Game Mania">
                </a>
            </div>
            <div class="cabecalho-rodape-2">
                Game Mania!® é uma marca registrada de Game Mania S/A | CNPJ:XX.YYY.ZZZ/0001-XX | Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional podem ser alterados sem prévio aviso. O Game Mania! não é responsável por erros descritivos. As fotos contidas nesta página são meramente ilustrativas do produto e podem variar de acordo com o fornecedor/lote do fabricante. Este site trabalha 100% em criptografia SSL. Clique aqui e veja as políticas de nossa empresa.
            </div>
        </div>            
    </div>

</footer>